{% load poll_extras %}
{% load static %}

<section>

    {% with conditions=mdl_context.conditions %}
        {% with css='content-section-slim' title=sec_context.description_title content=sec_context.description_content %}
            {% include "common/site_block_description.html" with id=sec_context.description_id %}
        {% endwith %}

        <div class="content-section-slim" id="{{ sec_context.content_id|default:"" }}">
            <div class="container mh-100 text-left">
                {% for condition in conditions %}
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <h5>{{ condition.title|linebreaks }}</h5>
                        </div>
                        <div class="col-md-8">
                            {{ condition.content|linebreaks }}
                        </div>
                    </div>
                    <hr/>
                {% endfor %}

            </div>
        </div>

    {% endwith %}
</section>