{% load poll_extras %}
{% load static %}

<section>

    {% with environment=mdl_context.environment environment_images=mdl_context.environment_images %}
        {% with css='content-section-slim' title=environment.name %}
            {% include "common/site_block_description.html" with id=sec_context.description_id %}
        {% endwith %}

        <div class="content-section-slim pt-0" id="{{ sec_context.content_id|default:"" }}">
            <div class="container">
                <div class="row text-center">
                    {% for environment_image in environment_images %}
                        <div class="col-md-12 pt-5">
                            <img class="img-fluid rounded" src="{{ environment_image.image.url }}" alt="">
                            {% if environment_image.image_description %}
                                <div class="image-caption d-none d-md-block">
                                    <h5>{{ environment_image.image_description }}</h5>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

    {% endwith %}
</section>