{% load poll_extras %}
<section>

    <div class="modal fade" id="messages" tabindex="-1" role="dialog" aria-labelledby="messagesLabel" aria-hidden="true">

        <div class="modal-dialog" role="dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="messagesLabel">{{ site_common.frm_messages_title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <ul>
                        {% for message in messages %}
                            <li class="{{ message.tags }}">
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        {{ site_common.btn_ok_content }}
                    </button>
                </div>

            </div>
        </div>

    </div>

</section>
