{% if title or content %}
    <div class="content-section bg-light {{ css }}" {% if id %}id="{{ id }}"{% endif %}>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    {% if title %}
                        <h2>{{ title }}</h2>
                    {% endif %}
                    {% if content %}
                        {{ content|linebreaks }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

